name: Install dependencies
on:
  push:
    branches: [ main ]
  repository_dispatch:

jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run tests
      run: pip install pytest
